body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg,#0f172a,#1e293b);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.player-container{
  width:400px;
  background:#111827;
  padding:20px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.6);
  text-align:center;
}

.now-playing h2{
  margin:10px 0 5px;
  font-size:22px;
}

.now-playing p{
  margin:0;
  color:#94a3b8;
}

.progress-container{
  width:100%;
  height:8px;
  background:#334155;
  border-radius:10px;
  margin:15px 0;
  cursor:pointer;
}

.progress{
  width:0%;
  height:100%;
  background:#38bdf8;
  border-radius:10px;
}

.time{
  display:flex;
  justify-content:space-between;
  font-size:14px;
  color:#cbd5e1;
}

.controls{
  margin:15px 0;
  display:flex;
  justify-content:center;
  gap:15px;
}

.controls button{
  padding:12px 15px;
  border:none;
  border-radius:10px;
  font-size:18px;
  cursor:pointer;
  background:#1e293b;
  color:white;
  transition:0.2s;
}

.controls button:hover{
  background:#38bdf8;
  color:black;
}

.volume-control{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  margin:10px 0;
}

.volume-control input{
  width:150px;
}

.playlist{
  margin-top:20px;
  text-align:left;
}

.playlist h3{
  margin-bottom:10px;
}

.hint{
  margin-top:10px;
  font-size:12px;
  color:#94a3b8;
}

.playlist ul{
  list-style:none;
  padding:0;
  margin:0;
}

.playlist li{
  padding:10px;
  background:#1e293b;
  margin:6px 0;
  border-radius:10px;
  cursor:pointer;
  display:flex;
  justify-content:space-between;
  font-size:14px;
}

.playlist li.active{
  background:#38bdf8;
  color:black;
  font-weight:bold;
}
